.img-opcoes{

    width: 150px;
    border: 2px solid gray;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.rosa{

    color: pink;
    cursor: pointer;
}
.container-fluid{

    width: 100%;
}

.img-principal{

    width: 300px;
    border: 2px solid blue;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.bg-gray{

    background-color: gray;
}

#q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, .win{

    display: none;
}

.win{

    width: 150px;
}